p{
    font-family: Calibri;
    line-height: 2.00 em;
    font-size: 20px;
    color: rgb(0, 138, 202);
    text-align: center;
}
h2{
    font-family: Geneva;
    color: #0099ff;
    text-align: center;
}