<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>
<body>
    <div id="apps">
        <input type="text" v-model="input" placeholder="Masukan Input">
        <button v-on:click="addUsers(input)">add</button>
        <ul v-for="user in users">
            <li>
                {{ user.name }}
                <button v-on:click="editUsers()">edit</button>
                ||
                <button v-on:click="deleteUsers()">delete</button>
                {{ masukan }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#apps',
            data: {
                masukan: '',
                input: '',
                users: [
                {'name' : 'Muhamad Iqbal Mubarok'},
                {'name' : "Ruby Purwanti"},
                {'name' : 'Faqih Muhamad'}
                ]
            },
            computed: {
                
            },
            methods: {
                addUsers: function(masukan){
                    this.masukan = this.users.push(this.name + masukan)
                },
                deleteUsers: function(){
                    return this.users.splice(index, 1)
                    console.log("DELETED")
                },
                editUsers: function(){
                    
                },
                tesingFunc: function(apaaja){
                    console.log('Apa Aja')
                }
            }
        })
    </script>
</body>
</html>