<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>

    <div id="app">
        <input type="text" v-model="cari" placeholder="Cari berdasarkan huruf">
        <ul v-for="book in filterHuruf(books)">
            <li>{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                cari: '',
                book: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            methods: {
                filterHuruf: function(book){
                    return this.book.filter((n)=>{
                        return n.toLowerCase().match(this.cari)
                    });
                }
            }
        })  
    </script>

</body>

</html>